
      


        .app-container{
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
          height: 100vh;
          display: flex;
          flex-direction: column;

        }

        